*{
    box-sizing: border-box;
}

body{
    margin:0;
    background: #363636;
    font-family: Arial, Helvetica, sans-serif;
}

#numberInputBox{
    margin-top: 20px;
}

#numberInput{
    border: none;
    border-radius: calc(10e10px);
    padding: 10px;
    margin: auto 10px;
    height: 40px;
    width: 200px;
    border:1px solid #eaeaea;
    outline:none;
    vertical-align: middle;
}

#numberInput:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
#numberInput:focus{
    border-color:#4d90fe;
}

#addNumber{
    border: none;
    border-radius: calc(10e10px);
    margin: auto 10px;
    /* padding: 5px; */
    height: 40px;
    width: 40px;
    border:1px solid #eaeaea;
    outline:none;
    text-align: center;
    font-size:30px;
    vertical-align: middle;
}

#numberList{
    color:white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    margin: auto;
}

#numberList li{
    margin-top: .5em;
    margin-bottom: .5em;
}

#numberList li button{
    display: none;
    border-radius: calc(10e10px);
    font-family: 'Courier New', Courier, monospace;
}

#numberList li:hover{
    font-size: 1.2em;
}
#numberList li:hover button{
    display: inline-block;
    margin-left:.2em;
    margin-top: -.2em;
}
#numberList li:hover span.highlightUp::before{
    content: "";
}

span.highlightUp, span.highlightDown{
    background-color: #363636;
    position: relative;
}
span.highlightUp::before{
    content: "|";
    position: absolute;
    top:-1em;
    z-index: -1;

}
span.highlightUp.highlightDown{
    color:white;
}

#hammingDistanceTable{
    position:fixed;
    top:calc(55px);
    left:calc(50vw + 10rem);
    color:white;
}

.hammingDistance{
    font-size: 1.2rem;
    margin-top:calc(2rem);
    position: relative;
}

.hammingDistance::before{
    content: "----------–>";
    position: absolute;
    top:-.2rem;
    left:-5rem;
    z-index: -1;


}